* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    widht: 100%;
}

body {
    padding: 1em;
    height: 100%;
    widht: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: url('../images/bg.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.container {
    z-index: 2;
    position: relative;
    max-width: 1250px;
    margin: 20px auto;
}

.top-bar {
    width: 100%;
    background: #101010;
    height: 30px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.top-bar li {
    list-style: none;
    float: left;
    color: #FFF;
}

.content {
    float:left;
}

.history {
    float: left;
}

.video {
    margin-top: 150px;
    margin-left: 50px;
    float: left;
}

/* Make it a marquee */
.marquee {
    display: inline-block;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
    -webkit-animation: marquee 10s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

/* Make it move */
@keyframes marquee {
    0% {
        text-indent: 27.5em
    }
    100% {
        text-indent: -400px
    }
}

/* Make it move */
@-webkit-keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -400px }
}


